### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import csv

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data['SN'].value_counts())

df = pd.DataFrame([
                {"Total Players": total_players}
                        ])

df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#-------------------------------------------------------
# Number of Unique Items
#-------------------------------------------------------
unique_items = len(purchase_data["Item ID"].unique())

#-------------------------------------------------------
#Average Price
#-------------------------------------------------------

avg_price = purchase_data["Price"].mean()
avg_price_format = "${:,.2f}".format(avg_price)

#-------------------------------------------------------
# Number of purchase
#-------------------------------------------------------
purchase_number = purchase_data["Purchase ID"].count()

#-------------------------------------------------------
#Total Revenue
#-------------------------------------------------------
total_revenue = purchase_data["Price"].sum()
total_revenue_format = "${:,.2f}".format(total_revenue)                                            

#-------------------------------------------------------
# Summary Table 1
#-------------------------------------------------------
summary_1 = pd.DataFrame([
                        {"Unique items":unique_items, "Average Price": avg_price_format, "Number of purchase": purchase_number, "Total revenue":total_revenue_format }
                        ])
summary_1

   Unique items Average Price  Number of purchase Total revenue
0           179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
unique_players_list = []

# Count number of unique players

with open(file_to_load,'r', encoding='utf-8') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    
    #Skip header
    header = next(csvreader)
        
    for row in csvreader:
            
        if row[1] not in unique_players_list:
            unique_players_list.append(row[1])

unique_players = pd.DataFrame([
                {"Unique Players": len(unique_players_list)}
                        ])

In [5]:
unique_players_count = []
unique_gender_list = []
age_list = []

# Separate the unique players by gender

for i in range(len(unique_players_list)):
    
    player_i = unique_players_list[i]
    gender_i = " "
    age_i = 0
    
    player_counter = 0

    
    with open(file_to_load,'r', encoding='utf-8') as csvfile:
        csvreader = csv.reader(csvfile, delimiter=",")
    
        #Skip header
        header = next(csvreader)
        
        for row in csvreader:
            
            if str(row[1]) == player_i:
                player_counter += 1
                gender_i = str(row[3])
                age_i = row[2]
                
    unique_players_count.append(player_counter)
    unique_gender_list.append(gender_i)
    age_list.append(age_i)
        
#---------------------------------------------------------------------
# Summary table 2: Unique players and Count number of their purchases
#---------------------------------------------------------------------
summary_2 = pd.DataFrame({
                        "Player": unique_players_list,
                        "Count": unique_players_count,
                        "Gender": unique_gender_list,
                        "Age": age_list
})

summary_2

            Player  Count  Gender Age
0          Lisim78      3    Male  20
1      Lisovynya38      1    Male  40
2       Ithergue48      1    Male  24
3    Chamassasya86      1    Male  24
4        Iskosia90      1    Male  23
..             ...    ...     ...  ..
571         Hala31      1    Male  21
572     Jiskjask80      1    Male  11
573     Aethedru70      1  Female  21
574     Yathecal72      1    Male  20
575        Sisur91      1    Male   7

[576 rows x 4 columns]

In [6]:
males_count = len(summary_2.loc[summary_2["Gender"] == "Male"])
females_count = len(summary_2.loc[summary_2["Gender"] == "Female"])
othergenders_count = len(summary_2.loc[summary_2["Gender"] == "Other / Non-Disclosed"])

males_percentage = (males_count) / len(unique_players_count) * 100
males_percentage_formated = "{:,.2f}%".format(males_percentage)  

females_percentage = (females_count) / len(unique_players_count) * 100
females_percentage_formated = "{:,.2f}%".format(females_percentage)  

othergenders_percentaget = (othergenders_count) / len(unique_players_count) * 100
othergenders_percentaget_formated = "{:,.2f}%".format(othergenders_percentaget)  

#---------------------------------------------------------------------
# Summary table 3: Total unique players by gender and the %
#---------------------------------------------------------------------
summary_3 = pd.DataFrame([
                        {"Gender": "Male", "Total Count": males_count, "Percentage of Players": males_percentage_formated},
                        {"Gender": "Female","Total Count": females_count, "Percentage of Players": females_percentage_formated},
                        {"Gender": "Other / Non-Disclosed", "Total Count": othergenders_count, "Percentage of Players": othergenders_percentaget_formated}
                        ])

summary_3.set_index('Gender', drop=True, inplace=True)
summary_3

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
number_of_females = summary_3.loc[ summary_3["Gender"] == "Female", "Total Count" ]
number_of_males = summary_3.loc[ summary_3["Gender"] == "Male", "Total Count" ]
number_of_others = summary_3.loc[ summary_3["Gender"] == "Other / Non-Disclosed", "Total Count" ]


purchase_count = purchase_data.groupby("Gender")["Price"].count()

average_bygender = round(purchase_data.groupby("Gender")["Price"].mean(),2)

purchase_total = purchase_data.groupby("Gender")["Price"].sum()

players_count = summary_2.groupby("Gender")["Player"].count()

#---------------------------------------------------------------------
# Summary table 4: Purchase Analysis
#---------------------------------------------------------------------
summary_4 = pd.DataFrame({
                      
                        "Purchase Count": purchase_count,
                        "Average Purchase Price": average_bygender,
                        "Total Purchase Value": purchase_total,
                        #"Players Count": players_count,
                        "Avg Total Purchase per Person": purchase_total / players_count
                        })

summary_4['Average Purchase Price'] = summary_4['Average Purchase Price'].map('${:,.2f}'.format)
summary_4['Total Purchase Value'] = summary_4['Total Purchase Value'].map('${:,.2f}'.format)
summary_4['Avg Total Purchase per Person'] = summary_4['Avg Total Purchase per Person'].map('${:,.2f}'.format)


summary_4

KeyError: 'Gender'

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
summary_2.loc[:, "Age"] = summary_2["Age"].astype("float")

In [ ]:
bins = [0, 9, 14, 19, 24, 29, 34, 39,100]

group_names = [ "<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

summary_2["Age Group"] = pd.cut(summary_2["Age"], bins, labels=group_names)


summary_2_group = summary_2.groupby(["Age Group"])

age_group_count = summary_2_group["Age Group"].count()
percentage_by_age = age_group_count/ total_players * 100

summary_5 = pd.DataFrame({
                      
                        "Total Count": age_group_count,
                        "Percentage of Players": percentage_by_age,
                         })

summary_5['Percentage of Players'] = summary_5['Percentage of Players'].map('{:,.2f}%'.format)


summary_5

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#purchase_data.head()

In [ ]:

# Have to perform this on a clean df that show unique players

bins_2 = [0, 9, 14, 19, 24, 29, 34, 39,100]

group_names_2 = [ "<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins_2, labels=group_names_2)



purchase_data_grouped = purchase_data.groupby(["Age Ranges"])["Age Ranges"].count()
sum_purchase_price = purchase_data.groupby(["Age Ranges"])["Price"].sum()
avg_purchase_price = sum_purchase_price/purchase_data_grouped
avg_perperson = sum_purchase_price/ age_group_count


summary_6 = pd.DataFrame({
                      
                        "Purchase Count": purchase_data_grouped,
                        "Average Purchase Price": avg_purchase_price,
                        "Total Purchase Value": sum_purchase_price,
                        "Avg Total Purchase Per Person": avg_perperson
    
                         })

summary_6['Average Purchase Price'] = summary_6['Average Purchase Price'].map('${:,.2f}'.format)
summary_6['Total Purchase Value'] = summary_6['Total Purchase Value'].map('${:,.2f}'.format)
summary_6['Avg Total Purchase Per Person'] = summary_6['Avg Total Purchase Per Person'].map('${:,.2f}'.format)


summary_6

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [9]:
purchase_count_bySN = purchase_data.groupby(["SN"])["Price"].count()
total_purchase_bySN = purchase_data.groupby(["SN"])["Price"].sum()
avg_purchase_bySN = total_purchase_bySN/  purchase_count_bySN

summary_7 = pd.DataFrame({
                      
                        "Purchase Count": purchase_count_bySN,
                        "Average Purchase Price": avg_purchase_bySN,
                        "Total Purchase Price": total_purchase_bySN,
                       
                         })

summary_7_sorted = summary_7.sort_values(by=['Total Purchase Price'], ascending=False)

summary_7_sorted['Average Purchase Price'] = summary_7_sorted['Average Purchase Price'].map('${:,.2f}'.format)
summary_7_sorted['Total Purchase Price'] = summary_7_sorted['Total Purchase Price'].map('${:,.2f}'.format)

summary_7_sorted

             Purchase Count Average Purchase Price Total Purchase Price
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10
...                     ...                    ...                  ...
Ililsasya43               1                  $1.02                $1.02
Irilis75                  1                  $1.02                $1.02
Aidai61                   1                  $1.01                $1.01
Chanirra79                1                  $1.01                $1.01
Alo38                     1                  $1.00                $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
Item_ID = purchase_data["Item ID"]
Item_Name = purchase_data["Item Name"]
Item_Price = purchase_data["Price"]

summary_8 = pd.DataFrame({
                      
                        "Item ID": Item_ID,
                        "Item Name": Item_Name,
                        "Item Price": Item_Price,
                       
                         })


purchase_count = summary_8.groupby(["Item ID"])["Item Price"].count()
total_purchase = summary_8.groupby(["Item ID"])["Item Price"].sum()

summary_8["Purchase Count"] = purchase_count
summary_8["Total Purchase Value"] = total_purchase

summary_8.set_index(["Item ID","Item Name"])

summary_8_sorted = summary_8.sort_values(by=['Purchase Count'], ascending=False)

summary_8_sorted['Purchase Count'] = summary_8_sorted['Purchase Count'].map('{:,.0f}'.format)
summary_8_sorted['Item Price'] = summary_8_sorted['Item Price'].map('${:,.2f}'.format)
summary_8_sorted['Total Purchase Value'] = summary_8_sorted['Total Purchase Value'].map('${:,.2f}'.format)


summary_8_sorted.head()

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase Value
92,39,"Betrayal, Whisper of Grieving Widows",$3.94,13,$59.99
178,57,"Despair, Favor of Due Diligence",$4.60,12,$50.76
145,46,Hopeless Ebon Dualblade,$1.33,9,$41.22
132,145,Fiery Glass Crusader,$4.58,9,$28.99
108,85,Malificent Bag,$1.75,9,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame