### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd
import csv

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Player Count

* Display the total number of players

In [11]:
total_players = len(purchase_data['SN'].value_counts())

df = pd.DataFrame([
                {"Total Players": total_players}
                        ])

df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#-------------------------------------------------------
# Number of Unique Items
#-------------------------------------------------------
unique_items = len(purchase_data["Item ID"].unique())

#-------------------------------------------------------
#Average Price
#-------------------------------------------------------

avg_price = purchase_data["Price"].mean()
avg_price_format = "${:,.2f}".format(avg_price)

#-------------------------------------------------------
# Number of purchase
#-------------------------------------------------------
purchase_number = purchase_data["Purchase ID"].count()

#-------------------------------------------------------
#Total Revenue
#-------------------------------------------------------
total_revenue = purchase_data["Price"].sum()
total_revenue_format = "${:,.2f}".format(total_revenue)                                            

#-------------------------------------------------------
# Summary Table 1
#-------------------------------------------------------
summary_1 = pd.DataFrame([
                        {"Unique items":unique_items, "Average Price": avg_price_format, "Number of purchase": purchase_number, "Total revenue":total_revenue_format }
                        ])
summary_1

   Unique items Average Price  Number of purchase Total revenue
0           179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
unique_players_list = []

# Count number of unique players

with open(file_to_load,'r', encoding='utf-8') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    
    #Skip header
    header = next(csvreader)
        
    for row in csvreader:
            
        if row[1] not in unique_players_list:
            unique_players_list.append(row[1])

unique_players = pd.DataFrame([
                {"Unique Players": len(unique_players_list)}
                        ])

unique_players

   Unique Players
0             576

In [14]:
unique_players_count = []
unique_gender_list = []
age_list = []

# Separate the unique players by gender

for i in range(len(unique_players_list)):
    
    player_i = unique_players_list[i]
    gender_i = " "
    age_i = 0
    
    player_counter = 0

    
    with open(file_to_load,'r', encoding='utf-8') as csvfile:
        csvreader = csv.reader(csvfile, delimiter=",")
    
        #Skip header
        header = next(csvreader)
        
        for row in csvreader:
            
            if str(row[1]) == player_i:
                player_counter += 1
                gender_i = str(row[3])
                age_i = row[2]
                
    unique_players_count.append(player_counter)
    unique_gender_list.append(gender_i)
    age_list.append(age_i)
        
#---------------------------------------------------------------------
# Summary table 2: Unique players and Count number of their purchases
#---------------------------------------------------------------------
summary_2 = pd.DataFrame({
                        "Player": unique_players_list,
                        "Count": unique_players_count,
                        "Gender": unique_gender_list,
                        "Age": age_list
})

summary_2

            Player  Count  Gender Age
0          Lisim78      3    Male  20
1      Lisovynya38      1    Male  40
2       Ithergue48      1    Male  24
3    Chamassasya86      1    Male  24
4        Iskosia90      1    Male  23
..             ...    ...     ...  ..
571         Hala31      1    Male  21
572     Jiskjask80      1    Male  11
573     Aethedru70      1  Female  21
574     Yathecal72      1    Male  20
575        Sisur91      1    Male   7

[576 rows x 4 columns]

In [15]:
males_count = len(summary_2.loc[summary_2["Gender"] == "Male"])
females_count = len(summary_2.loc[summary_2["Gender"] == "Female"])
othergenders_count = len(summary_2.loc[summary_2["Gender"] == "Other / Non-Disclosed"])

males_percentage = (males_count) / len(unique_players_count) * 100
males_percentage_formated = "{:,.2f}%".format(males_percentage)  

females_percentage = (females_count) / len(unique_players_count) * 100
females_percentage_formated = "{:,.2f}%".format(females_percentage)  

othergenders_percentaget = (othergenders_count) / len(unique_players_count) * 100
othergenders_percentaget_formated = "{:,.2f}%".format(othergenders_percentaget)  

#---------------------------------------------------------------------
# Summary table 3: Total unique players by gender and the %
#---------------------------------------------------------------------
summary_3 = pd.DataFrame([
                        {"Gender": "Male", "Total Count": males_count, "Percentage of Players": males_percentage_formated},
                        {"Gender": "Female","Total Count": females_count, "Percentage of Players": females_percentage_formated},
                        {"Gender": "Other / Non-Disclosed", "Total Count": othergenders_count, "Percentage of Players": othergenders_percentaget_formated}
                        ])
summary_3

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
number_of_females = summary_3.loc[ summary_3["Gender"] == "Female", "Total Count" ]
number_of_males = summary_3.loc[ summary_3["Gender"] == "Male", "Total Count" ]
number_of_others = summary_3.loc[ summary_3["Gender"] == "Other / Non-Disclosed", "Total Count" ]


purchase_count = purchase_data.groupby("Gender")["Price"].count()

average_bygender = round(purchase_data.groupby("Gender")["Price"].mean(),2)

purchase_total = purchase_data.groupby("Gender")["Price"].sum()

players_count = summary_2.groupby("Gender")["Player"].count()

#---------------------------------------------------------------------
# Summary table 4: Purchase Analysis
#---------------------------------------------------------------------
summary_4 = pd.DataFrame({
                      
                        "Purchase Count": purchase_count,
                        "Average Purchase Price": average_bygender,
                        "Total Purchase Value": purchase_total,
                        #"Players Count": players_count,
                        "Avg Total Purchase per Person": purchase_total / players_count
                        })

summary_4['Average Purchase Price'] = summary_4['Average Purchase Price'].map('${:,.2f}'.format)
summary_4['Total Purchase Value'] = summary_4['Total Purchase Value'].map('${:,.2f}'.format)
summary_4['Avg Total Purchase per Person'] = summary_4['Avg Total Purchase per Person'].map('${:,.2f}'.format)


summary_4

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [25]:
summary_2.loc[:, "Age"] = summary_2["Age"].astype("float")
summary_2["Age"].dtypes

dtype('float64')

In [27]:
players_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Player, dtype: int64

In [28]:
# Have to perform this on a clean df that show unique players

bins = [0, 9, 14, 19, 24, 29, 34, 39,100]

group_names = [ "<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

summary_2["Age Group"] = pd.cut(summary_2["Age"], bins, labels=group_names)


summary_2_group = summary_2.groupby(["Age Group"])

age_group_count = summary_2_group["Age Group"].count()
percentage_by_age = age_group_count/ total_players * 100

summary_5 = pd.DataFrame({
                      
                        "Total Count": age_group_count,
                        "Percenrage of Players": percentage_by_age,
                         })
summary_5['Average Purchase Price'] = summary_4['Average Purchase Price'].map('${:,.2f}'.format)


summary_5

           Total Count  Percenrage of Players
Age Group
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame